name: Generate ASCII Artwork

on: push

jobs:
    ascii-job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v6  

            - name: List files
              run: ls -ltra

            - name: Executing shell script
              run: |
                sudo chmod 777 ascii-script.sh
                ./ascii-script.sh